.list {
  display: flex;
  flex-direction: column;
  background-color: #f5f6f7;
  padding-bottom: 32px;
  padding-top: 32px;
}

.list__title {
  margin: 0 0 50px 0;
  font-family: 'RobotoSlab', 'Georgia', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

.list__cards {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style-type: none;
}

@media(max-width:1000px) {
  .list__cards {
    gap: 8px;
  }
}

@media(max-width:700px) {
  .list__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:500px) {
  .list__cards {
    grid-template-columns: none;
  }
}

.list__button {
  background-color: white;
  color: #1a1b22;
  border: none;
  padding: 0 20px 0 20px;
  height: 64px;
  width: 288px;
  align-self: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  border-radius: 40px;
  outline: none;
  cursor: pointer;
  transition: background-color .3s ease;
}

.list__button:hover {
  background-color: rgba(0, 0, 0, .1);
}

.list__button_invisible {
  height: 0;
  overflow: hidden;
}